@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.login-wrapper {
  display: flex;
  height: 100vh;
}

/* LEFT */
.login-left {
  width: 50%;
  background-size: cover;
  background-position: center;
  position: relative;
}


.welcome-box {
  position: absolute;
  bottom: 70px;
  left: 60px;
  color: #1f3d2b;
}

.welcome-box h1 {
  font-size: 34px;
  letter-spacing: 6px;
  font-weight: 500;
}

.welcome-box span {
  font-weight: 300;
}

.welcome-box p {
  margin-top: 15px;
  font-size: 13px;
  line-height: 1.6;
}

/* RIGHT */
.login-right {
  width: 50%;
  background: #f7fbf7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 380px;
}

.login-card h2 {
  text-align: center;
  font-size: 18px;
  letter-spacing: 4px;
  color: #2f5f46;
}

.sub-text {
  text-align: center;
  font-size: 12px;
  color: #7b9c8b;
  margin: 15px 0 30px;
}

/* INPUTS */
.input-box {
  position: relative;
  margin-bottom: 18px;
}

.input-box input {
  width: 100%;
  padding: 14px 45px;
  border: none;
  border-radius: 10px;
  background: #e6f3eb;
  font-size: 13px;
  letter-spacing: 1px;
}

.icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.eye {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* OPTIONS */
.options {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 25px;
}

.options a {
  text-decoration: none;
  color: #2f5f46;
}

/* BUTTON */
.login-btn {
  width: 100%;
  padding: 14px;
  background: #2f6b4f;
  color: #fff;
  border: none;
  border-radius: 30px;
  letter-spacing: 3px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.login-btn:hover {
  background: #244f3c;
}

/* BOTTOM */
.bottom-text {
  margin-top: 18px;
  text-align: center;
  font-size: 11px;
  letter-spacing: 1px;
  color: #2f5f46;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .login-wrapper {
    flex-direction: column;
  }

  .login-left,
  .login-right {
    width: 100%;
  }

  .login-left {
    height: 40vh;
  }
}



.input-box {
  position: relative;
  margin-bottom: 18px;
}

.input-box input {
  width: 100%;
  padding: 14px 45px;
  border-radius: 10px;
  border: none;
  background: #e6f3eb;
  font-size: 13px;
}

/* 👤 Person & 🔒 Lock icon */
.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #2f6b4f;   /* SAME green */
  font-size: 14px;
  opacity: 0.8;
}

/* 👁 Eye icon */
.eye-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #2f6b4f;
  cursor: pointer;
  opacity: 0.7;
}
